
src/.vs/comic_dl/xs/sqlite3/storage.ide-wal
src/.vs/comic_dl/xs/sqlite3/db.lock
src/.vs/comic_dl/xs/sqlite3/storage.ide
src/.vs/comic_dl/xs/sqlite3/storage.ide-shm
src/.vs
src/comic_dl/comic_dl/bin/*
src/comic_dl/comic_dl/obj/*
src/comic_dl/comic_dl.iOS/bin/*
src/comic_dl/comic_dl.iOS/obj/*
src/comic_dl/comic_dl.Android/bin/*
src/comic_dl/comic_dl.Android/obj/*
src/comic_dl/comic_dl.UWP/bin/*
src/comic_dl/comic_dl.UWP/obj/*
src/comic_dl/comic_dl.Android/C:/comic_dl/lp/map.cache
src/comic_dl/comic_dl.Android/C:/comic_dl/lp/1.stamp
src/comic_dl/comic_dl.Android/C:/comic_dl/designtime/libraryprojectimports.cache
src/comic_dl/comic_dl.Android/C:/comic_dl/designtime/build.props
src/comic_dl/comic_dl.Android/C:/comic_dl/comic_dl.Android.csprojAssemblyReference.cache
